<% provide(:button_text, "Register") %>
<div class="row">
  <div class="col-lg-12 col-xl-12 mx-auto">
    <div class="card card-signin flex-row my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Register</h5>
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
