<%= form_for [answer.question, answer], remote: true do |f| %>
  <div class="form-group">
    <%= f.label :content, "Answer" %>
    <%= f.cktext_area :content, class: "ckeditor form-control", id: "answer_form_#{action}" %>
  </div>

  <div class="form-group">
    <%= f.submit btn_text, class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
