<div>
  <button class="btn btn-primary btn-block" type="submit">Ask a question</button>
  <ul class="nav flex-column mt-3">
    <%= nav_helper left_side_bar_items, "nav-link", "nav-item"%>
  </ul>
</div>
