<div class="right-sidebar">
  <div class="questions-count">
    <h6>Questions</h6>
    <h2><b><%= Question.count %></b></h2>
  </div>
  <div class="members-count">
    <h6>Members</h6>
    <h2><b><%= User.count %></b></h2>
  </div>
  <br>
  <div class="most-used-tags">
    <h7><b>MOST USED TAGS</b></h7>
    <hr>
    <% most_used_tags.each do |name,total| %>
      <%= link_to name, "#", class: "badge badge-pill badge-secondary" %>
      <span> x <%= total %></span>
    <% end %>
  </div>
</div>
